<!--{template template/index/header}-->

<body>
<!-- 头部 -->
<div class="header">
        <div class="hed_lf"><a href="javascript:;"  onclick="javascript:window.history.back(-1);"><i class="icon iconfont icon-sanjiao"></i></a></div>
        <div class="hed_ct">个人二维码</div>
</div>
<!-- 头部end -->

<!-- container -->
<div class="container">
        <img src="/index.php?mod=i&extra=watermarking&type=1&uid={$arr_member['uid']}" alt="">
</div>
<!-- /container -->


<!-- footer -->
<!-- footer end -->



</body>

</html>