<!--{template template/index/header}-->

<body>
<!-- 头部 -->
<div class="header">
	<div class="hed_lf"><a href="/i"><i class="icon iconfont icon-sanjiao"></i></a></div>
	<div class="hed_ct">账户安全</div>
</div>
<!-- 头部end -->

<!-- container -->
<div class="container">
	<div class="account_security">
		<ul>
			<li><a href="/i/two_password">提现密码<i class="icon iconfont icon-yousanjiao-copy-copy"></i></a></li>
			<li><a href="/i/password">密码修改<i class="icon iconfont icon-yousanjiao-copy-copy"></i></a></li>
		</ul>
	</div>
</div>
<!-- /container -->


<!-- footer -->
<!-- footer end -->



<!--{template template/index/footer}-->