<!--{template template/index/header}-->

<body>
<!-- 头部 -->
<div class="header">
	<div class="hed_lf"><a href="/i"><i class="icon iconfont icon-sanjiao"></i></a></div>
	<div class="hed_ct">提现</div>
</div>
<!-- 头部end -->

<!-- container -->
<div class="center">
	<div class="withdrawal">
		<div class="mber_top">
			<div class="mber_top_tux">
				<p class="txt">可提现金额</p>
				<p class="money">{$arr_member['balance']}</p>
				<p class="txt">满20即可提现，提现金额不得低于20！</p>
			</div>
		</div>
		<p class="li">金额：<input placeholder="请输入提现金额" id="J_money" name="money" /></p>
		<p class="li">提现密码：<input placeholder="请输入提现金额" id="J_password" type="password" /></p>
		<p class="h5">提示：1金币=1元，提现申请提交后，预计在2个工作日内完成审核并转账。每月可提现3次。</p>
		<div class="and_login" id="J_send"><a href="javascript:;">立即提现</a></div>
	</div>
</div>
<!-- /container -->


<!-- footer -->
<!-- footer end -->
<script src="/mat/dist/js/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/mat/dist/js/modules/common.js" type="text/javascript"></script>
<script src="/mat/dist/js/language/zh_cn.js" type="text/javascript"></script>
<script type="text/javascript" src="/mat/src/js/index/withdrawal.js?code_version={$_SGLOBAL['code_version']}"></script>
<script type="text/javascript">
withdrawal._init();
</script>


<!--{template template/index/footer}-->