<!--{template template/admin/header}-->
<!-- 后台菜单设置 [[-->
<div class="admin_rights mt10">
    <!-- admin_menu [[-->
    <div class="admin_menu mt12" style="display:;">
            <span class="J_show_hide_menu">
            	<a id="J_add_level_one" href="javascript:;" class="blue_nav">{$arr_language['add']}</a>
            </span>
            <span class="J_submit_from"></span>
    </div>
    <!--]] admin_menu -->
    <!--{if count($arr_cat)>0}-->
    <!--{loop $arr_cat $v}-->
    <dl class="mt12">
        <dt class="J_show_hide_mouseover" data-cid="{$v['cid']}" data-level="{$v['level']}">
            <em><b>{$arr_language['sort']}:{$v['sort']}</b>{$v['name']}</em>
        	<span class="J_show_hide_menu">
            {if in_array($v['cid'],$arr_allow_add) || in_array($v['pid'],$arr_allow_pid_add)}
            	<a href="javascript:;" class="nav_run blue_nav J_show_hide_menu_add">{$arr_language['add']}</a>
            {/if}
                <a href="javascript:;" class="nav_run red_nav J_show_hide_menu_mod">{$arr_language['mod']}</a>
                <a href="javascript:;" class="nav_run gray_nav J_show_hide_menu_del" style="display:{if $v['cid'] == 1}none{/if};">{$arr_language['del']}</a>
            </span>
            <span class="J_submit_from"></span>
        </dt>
        
        <!--二级菜单 start-->
        <!--{if count($v['subs'])>0}-->
        <!--{loop $v['subs'] $v2}-->
        <h1 class="J_show_hide_mouseover" data-cid="{$v2['cid']}" data-level="{$v2['level']}">
            <em><b>{$arr_language['sort']}:{$v2['sort']}</b>{$v2['name']}</em>
            <span class="J_show_hide_menu">
            {if in_array($v2['cid'],$arr_allow_add) || in_array($v2['pid'],$arr_allow_pid_add)}
            	<a href="javascript:;" class="nav_run blue_nav J_show_hide_menu_add">{$arr_language['add']}</a>
            {/if}
                <a href="javascript:;" class="nav_run red_nav J_show_hide_menu_mod">{$arr_language['mod']}</a>
                <a href="javascript:;" class="nav_run gray_nav J_show_hide_menu_del" style="display:;">{$arr_language['del']}</a>
            </span>
           
            <span class="J_submit_from"></span>
        </h1>

        <!-- 3级菜单 start-->
        <!--{if count($v2['subs'])>0}-->
        <!--{loop $v2['subs'] $v3}-->
        <h2 class="J_show_hide_mouseover" data-cid="{$v3['cid']}" data-level="{$v3['level']}">
            <em><b>{$arr_language['sort']}:{$v3['sort']}</b>{$v3[name]}</em>
            <span class="J_show_hide_menu">
                <a href="javascript:;" class="nav_run blue_nav J_show_hide_menu_add" style="display:none;">{$arr_language['add']}</a>
                <a href="javascript:;" class="nav_run red_nav J_show_hide_menu_mod">{$arr_language['mod']}</a>
                <a href="javascript:;" class="nav_run gray_nav J_show_hide_menu_del" style="display:none;">{$arr_language['del']}</a>
            </span>
            <span class="J_submit_from"></span>
        </h2>
        
        <!--{/loop}-->
        <!--{/if}-->
        <!-- 3级菜单 end-->

        <!--{/loop}-->
        <!--{/if}-->
        <!--二级菜单 end-->
    </dl>
    <!--{/loop}-->
    <!--{/if}-->    
</div>
<!--
<div class="admin_rights mt10"> <span class="J_submit_from">
  <form action="" method="post" id="J_send_form" target="ajaxframeid">
    <input type="hidden" name="formhash" value="3946f77f">
    <input type="hidden" id="J_pid" name="pid" value="0">
    <input type="hidden" id="J_do" name="_do" value="mod">
    <input type="hidden" id="J_id" name="cid" value="40">
    <input type="hidden" class="J_callback" name="callback" value="parent.send_success">
    <div class="add_box"><em>分类:</em>
      <input type="text" id="J_name" name="name" value="12">
      <em>英文:</em>
      <input type="text" id="J_name_us" name="name_us" value="23">
      <p>
      	<em>图片:</em>
        <a href="#" class="blue_nav updown"><input type="file" value="上传">上传</a>
        <p class="updown_img"><img src="123.jpg"></p>
      </p>
      <p><em>排序:</em>
      <input type="text" id="J_sort" name="sort" value="200"></p>
      <p><a id="J_btn_send" class="blue_nav">提交</a><a id="J_btn_cancel" class="gray_nav">取消</a></p>
    </div>
  </form>
  </span>
</div>
-->
<script type="text/javascript" src="/mat/??dist/js/lib/jquery/jquery.min.js,dist/js/language/admin_zh_cn.js,dist/js/modules/common.js,dist/js/admin/admin_video_cat.js?code_version={$_SGLOBAL['code_version']}"></script>
<script type="text/javascript">
var str_formhash = '{$_SGLOBAL['formhash']}';
admin_video_cat._init();
</script>
<!--{template template/admin/footer}-->