<!--{template template/admin/header}-->
<!-- 审核 [[-->
<div class="form_list mt10">
    <form id="J_send_form" action="/shop.php?mod=user_group&extra=add" method="post" target="ajaxframeid">
        <input type="hidden" name="formhash" value="{$_SGLOBAL['formhash']}">  
        <input class="J_callback" type="hidden" name="callback" value="parent.send_success">  
        <input id="J_uid" type="hidden" name="gid" value="{$int_gid}">       
        <dl class="mt12">
            <dt>{$arr_language['admin_member_group']['group_name']}：</dt>
            <dd><input id="J_group_name" type="text" name="group_name" class="text_s" autocomplete="off" value="{$arr_group['group_name']}"></dd>
        </dl>                
        <dl class="mt20">
            <dt>&nbsp;</dt>
            <dd class="sure_nav"><input type="submit" class="blue_nav" value="{$arr_language['send']}" style="border-radius:3px;height:52px; line-height:52px; width:158px; border:0; font-weight:700; font-size:16px;"></dd>
        </dl>
    </form>
</div>
<!--]] 审核 -->
<script type="text/javascript" src="/mat/??dist/js/lib/jquery/jquery.min.js,dist/js/language/admin_zh_cn.js,dist/js/modules/common.js,dist/js/shop/admin_user_group.js?code_version={$_SGLOBAL['code_version']}"></script>
<script type="text/javascript">
var str_formhash = '{$_SGLOBAL['formhash']}';
admin_user_group._init();
</script>
<!--{template template/admin/footer}-->