@charset "utf-8";
/* CSS Document */

/* 弹窗公用框架 */
.pop_wrap{width:100%;background-color:#fff;overflow:hidden;border-radius:5px;}
.pop_wrap .pop_title{width:100%;height:45px;background-color:#fff;border-bottom:#eee 1px solid;overflow:hidden;}
.pop_wrap .pop_title span{display:block;text-indent:10px;font:600 18px/45px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;color:#4a4a4a;}
.pop_wrap .pop_title span a{margin:0 8px;color:#f60;}
.pop_wrap .pop_title a.close{display:block;margin:7px 10px 7px 0;width:31px;height:31px;background:url(/mat/dist/images/admin/pop_close_ico.jpg) -31px top no-repeat;overflow:hidden;text-indent:-999px;}
.pop_wrap .pop_title a:hover.close{background:url(/mat/dist/images/admin/pop_close_ico.jpg) left top no-repeat;}
.pop_wrap .pop_main{padding:20px;overflow:hidden;}

	/* 回复提问 */
	.privacy_sms{width:100%;overflow:hidden;}
	.privacy_sms .text{padding:10px;border:#d4d4d4 1px solid;overflow:hidden;}
	.privacy_sms .text textarea{border:0;padding:0;width:100%;height:88px;line-height:22px;resize:none;color:#6f6f6f;font-size:16px;}
	.privacy_sms .express{width:280px;margin:auto;overflow:hidden;}
	.privacy_sms .express ul{width:100%;overflow:hidden;}
	.privacy_sms .express ul li{width:50%;float:left;line-height:30px;font-size:14px;font-weight:700;}
	.privacy_sms .express ul li input{width:15px;}
	.privacy_sms .express select{height:30px;border:#ddd 1px solid;width:100px;vertical-align:top;}
	.privacy_sms .express input{width:158px;height:28px;line-height:28px;font-size:14px;border:#ddd 1px solid;padding:0 5px;vertical-align:top;margin-left:5px;}
	.privacy_sms .express p{display:block;width:100%;padding-top:5px;line-height:20px;color:#f40;}
	
	
	.privacy_sms a.sure_nav{display:block;text-align:center;margin-top:15px;width:120px;height:40px;font:700 16px/40px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;border:0;border-radius:5px;background-color:#3ead01;color:#fff;}
	.privacy_sms a:hover.sure_nav{background-color:#3ead01;}
	.privacy_sms input.sure_nav{margin-top:15px;width:120px;height:40px;font:700 16px/40px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;border:0;border-radius:5px;background-color:#3ead01;color:#fff;cursor:pointer;}
	.privacy_sms input:hover.sure_nav{background-color:#3ead01;}
	
	.label_div{width:100%;overflow:hidden;}
	.label_div li{width:100%;margin-top:10px;overflow:hidden;}
	.label_div li span{display:block;float:left;line-height:34px;font-size:14px;}
	.label_div li span.tit{width:80px;}
	.label_div li span.mr20{margin-right:20px;}
	.label_div li a.pic{width:80px;height:80px;text-align:center;display:block;float:left;border:#e4e4e4 1px solid;color:#999;}
	.label_div li a.pic em{display:block;line-height:20px;margin:20px 0;}
	.label_div li a.pic em i{display:block;}
	.label_div li a:hover.pic{color:#f60;text-decoration:none;border:#f60 1px solid;}
	.label_div li input.text{display:block;padding:0;width:120px;float:left;line-height:32px;height:32px;border:#e4e4e4 1px solid;}
	.label_div li input.text2{display:block;padding:0;width:60px;float:left;line-height:32px;height:32px;border:#e4e4e4 1px solid;}
	.label_div li input.text3{display:block;padding:0;width:240px;float:left;line-height:32px;height:32px;border:#e4e4e4 1px solid;}
	.label_div li input.radio{display:block;float:left;margin:10px 3px 0 10px;}
	.label_div li input.radio2{display:block;float:left;margin:10px 3px 0 0px;}
	.label_div li p{display:block;width:100%;float:left;padding-top:5px;line-height:20px;color:#f40;}
	.label_div li a.nico{display:block;float:left;margin:3px 0 0 15px;width:28px;height:28px;background-position:left -62px;}
	.label_div li a:hover.nico{background-position:-28px -62px;}
	.label_div li a.none{display:block;float:left;margin:3px 0 0 15px;width:28px;height:28px;background-position:left -90px;}
	.label_div li a:hover.none{background-position:-28px -90px;}
	.label_div a.sure_nav{display:block;float:left;text-align:center;margin-top:15px;width:120px;height:38px;font:700 16px/38px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;border:0;border-radius:5px;border-bottom:#0083b5 3px solid;background-color:#069dd6;color:#fff;}
	.label_div a:hover.sure_nav{background-color:#0083b5;}
	.label_div a.none_nav{display:block;float:left;text-align:center;margin:15px 0 0 10px;width:120px;height:38px;font:700 16px/38px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;border:0;border-radius:5px;border-bottom:#d4d4d4 3px solid;background-color:#e4e4e4;color:#4a4a4a;}
	.label_div a:hover.none_nav{background-color:#d4d4d4;} 
	
	.graphic_div{width:100%;overflow:hidden;}
	.graphic_div li{width:100%;margin-top:10px;text-align:center;overflow:hidden;}
	.graphic_div li input{padding:0;width:500px;text-indent:10px;color:#999;line-height:32px;height:32px;border:#e4e4e4 1px solid;}
	.graphic_div li p{display:block;width:502px;margin:10px auto;overflow:hidden;text-align:left;}
	.graphic_div li p span{display:inline-block;padding:6px;margin-right:3px;background-color:#f4f4f4;line-height:19px;cursor:pointer;}
	.graphic_div li p span em{display:inline-block;line-height:17px;font-size:14px;vertical-align:top;}
	.graphic_div li p span a{display:inline-block;width:17px;height:17px;text-align:center;background-color:#4b4b4b;overflow:hidden;vertical-align:top;}
	.graphic_div li p span a i{display:inline-block;width:9px;height:11px;margin-top:3px;background-position:-26px -158px;overflow:hidden;}
	.graphic_div a.sure_nav{display:inline-block;text-align:center;margin-top:15px;width:120px;height:38px;font:100 16px/38px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;border:0;border-radius:5px;background-color:#069dd6;color:#fff;}
	.graphic_div a:hover.sure_nav{background-color:#0083b5;text-decoration:none;}
	.graphic_div a.none_nav{display:inline-block;text-align:center;margin:15px 0 0 10px;width:120px;height:38px;font:100 16px/38px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;border:0;border-radius:5px;background-color:#e4e4e4;color:#4a4a4a;}
	.graphic_div a:hover.none_nav{background-color:#d4d4d4;text-decoration:none;}
	
	/* 公共弹窗 */
	.main_l{text-align:left;}
	.main_c{text-align:center;}
	.main_r{text-align:right;}
	.pop_content{padding:15px 0 20px;font-family:\5fae\8f6f\96c5\9ed1,\5b8b\4f53;overflow:hidden;line-height:22px;}
	.pop_content a{color:#069dd4;}
	.align_l{text-align:left;}
	.align_l a{margin-right:16px;}
	.align_c{text-align:center;}
	.align_c a{margin:0 8px;}
	.align_r{text-align:right;}
	.pop_nav{width:100%;overflow:hidden;}
	.pop_nav a{display:inline-block;width:120px;height:40px;font:700 16px/40px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;border:0;border-radius:5px;}
	.pop_nav a.nav_sure{background-color:#3ead01;color:#fff;}
	.pop_nav a:hover.nav_sure{background-color:#3ead01;text-decoration:none;}
	.pop_nav a.nav_none{background-color:#e6e6e6;color:#4a4a4a;}
	.pop_nav a:hover.nav_none{background-color:#ccc;text-decoration:none;}
	.pop_nav a.nav_orange{background-color:#f89000;color:#fff;}
	.pop_nav a:hover.nav_orange{background-color:#f60;text-decoration:none;}
	
	/* 运费-选择地区 */
	.stencil{width:100%;overflow:hidden;padding-bottom:20px;font-family:\5fae\8f6f\96c5\9ed1,\5b8b\4f53;}
	.stencil dl{width:100%;overflow:hidden;padding:8px 0;}
	.stencil dl.back_gray{background-color:#ecf4ff;}
	.stencil dl input{margin:9px 8px 0 0;vertical-align:top;}
	.stencil dl dt{width:80px;height:30px;position:absolute;font-weight:700;overflow:hidden;}
	.stencil dl dt label{display:inline-block;line-height:30px;font-size:14px;}
	.stencil dl dd{padding-left:80px;overflow:hidden;}
	.stencil dl dd label{width:80px;display:inline-block;line-height:30px;font-size:14px;}
	
	/* 产品多分类 */
	.more_psolist{width:100%;overflow:hidden;padding-bottom:20px;font-family:\5fae\8f6f\96c5\9ed1,\5b8b\4f53;}
	.more_psolist dl{width:100%;overflow:hidden;padding:8px 0;border-bottom:#eee 1px solid;}
	.more_psolist dl input{margin:9px 6px 0 0;vertical-align:top;}
	.more_psolist dl dt{background-color:#ecf4ff;text-align:center;width:80px;height:30px;line-height:30px;font-size:14px;position:absolute;font-weight:700;overflow:hidden;}
	.more_psolist dl dt label{display:inline-block;line-height:30px;font-size:14px;}
	.more_psolist dl dd{padding-left:90px;overflow:hidden;}
	.more_psolist dl dd label{width:100px;display:inline-block;line-height:30px;font-size:14px;}
	
	/*修改收货信息*/
	.form_list_pop{width:100%;}
	.form_list_pop dl{width:100%;margin-top:15px;overflow:hidden;}
	.form_list_pop dl dt{float:left;width:133px;height:36px;line-height:36px;color:#7f7f7f;font-size:14px;text-align:right;padding-right:8px;}
	.form_list_pop dl dd{float:left;width:75%;}
	.form_list_pop dl dd label{display:inline-block;line-height:36px;font-size:14px;font-weight:bold;}
	.form_list_pop dl dd label input{margin-right:8px;}
	.form_list_pop dl dd input.text{width:364px;height:34px;border:#ddd 1px solid;padding:0 10px;font-size:14px;line-height:34px;color:#4a4a4a;}
	.form_list_pop dl dd .sort_list_pop{width:120px;height:34px;border:#ddd 1px solid;position:relative;}
	.form_list_pop dl dd .sort_list_pop span.name{display:block;width:100%;height:34px;overflow:hidden;cursor:pointer;}
	.form_list_pop dl dd .sort_list_pop span.name em{display:inline-block;line-height:34px;color:#4a4a4a;text-indent:10px;font-size:14px;}
	.form_list_pop dl dd .sort_list_pop span.name i{display:inline-block;width:11px;height:7px;background-position:left -32px;vertical-align:top;margin:13px 10px 0 0;overflow:hidden;}
	.form_list_pop dl dd .sort_list_pop .sort_list_two{width:120px;border:#ddd 1px solid;border-top:0;position:absolute;left:-1px;top:35px;}
	.form_list_pop dl dd .sort_list_pop .sort_list_two a{display:block;width:100%;height:35px;line-height:35px;border-top:#e2e2e2 1px solid;font-size:14px;text-indent:10px;overflow:hidden;background-color:#fff;}
	.form_list_pop dl dd .sort_list_pop .sort_list_two a:hover{background-color:#fffde5;}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	