<!--{template template/index/header}-->

<body>
<!-- 头部 -->
<div class="header">
	<div class="hed_lf"><a href="#"><i class="icon iconfont icon-sanjiao"></i></a></div>
	<div class="hed_ct">新闻公告</div>
</div>
<!-- 头部end -->

<!-- container -->
<div class="container">
	<div class="announ_cement">
		<p class="h3">任务审核情况说明</p>
		<p class="h4">2017年10月11日   16:44:55</p>
		<div class="h5">昨天（10月12日）由于系统升级，导致任务没有及时审核，今天会陆续审核完成，望各位亲们耐心等待哦~ ps：任务正常的审核时长为一个工作日，如有疑问可以联系在线客服。</div>
	</div>
</div>
<!-- /container -->


<!-- footer -->
<div id="footer"></div>
<div class="footer">
	<ul>
		<li class="active"><a href="#"><i class="icon iconfont icon-shouye-copy-copy-copy"></i>首页</a></li>
		<li><a href="#"><i class="icon iconfont icon-youxituijian"></i>游戏</a></li>
		<li><a href="#"><i class="icon iconfont icon-weibiaoti-"></i>发现</a></li>
		<li><a href="#"><i class="icon iconfont icon-piaoliusanicon-geren-"></i>我的</a></li>
		<div class="clearfix"></div>
	</ul>
</div>
<!-- footer end -->



</body>

</html>