<!--{template template/index/header}-->
<body>
<!-- 头部 -->
<div class="header">
	<div class="hed_lf"><a href="#"><i class="icon iconfont icon-sanjiao"></i></a></div>
	<div class="hed_ct">新闻公告</div>
</div>
<!-- 头部end -->

<!-- container -->
<div class="container">
	<div class="announ_cement">
		<ul>
			<li>
				<a href="announ_cement_show.html">
					浏览商品的时间至少2分钟
					<span>2017-09-21 15:51:39<i class="icon iconfont icon-yousanjiao-copy-copy"></i></span>
					<div class="clearfix"></div>
				</a>
			</li>
			<li>
				<a href="announ_cement_show.html">
					严禁使用iPad等平板电脑做任务
					<span>2017-09-21 15:51:39<i class="icon iconfont icon-yousanjiao-copy-copy"></i></span>
					<div class="clearfix"></div>
				</a>
			</li>
			<li>
				<a href="announ_cement_show.html">
					接手任务后60分钟内，都可以自行取消，不扣K币。
					<span>2017-09-21 15:51:39<i class="icon iconfont icon-yousanjiao-copy-copy"></i></span>
					<div class="clearfix"></div>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- /container -->


<!-- footer -->
<div id="footer"></div>
<div class="footer">
	<ul>
		<li class="active"><a href="#"><i class="icon iconfont icon-shouye-copy-copy-copy"></i>首页</a></li>
		<li><a href="#"><i class="icon iconfont icon-youxituijian"></i>游戏</a></li>
		<li><a href="#"><i class="icon iconfont icon-weibiaoti-"></i>发现</a></li>
		<li><a href="#"><i class="icon iconfont icon-piaoliusanicon-geren-"></i>我的</a></li>
		<div class="clearfix"></div>
	</ul>
</div>
<!-- footer end -->
<!--{template template/index/footer}-->


