<div id="footer"></div>
<div class="footer">
        <ul>
                <li {if $_GET['mod']=='index'}class="active"{/if}><a href="/"><i class="icon iconfont icon-shouye-copy-copy-copy"></i>首页</a></li>
                <li {if $_GET['mod']=='game'}class="active"{/if}><a href="/game"><i class="icon iconfont icon-youxituijian"></i>任务</a></li>
                <li {if $_GET['mod']=='find'}class="active"{/if}><a href="/find"><i class="icon iconfont icon-weibiaoti-"></i>发现</a></li>
                <li {if $_GET['mod']=='i'}class="active"{/if}><a href="/i"><i class="icon iconfont icon-piaoliusanicon-geren-"></i>我的</a></li>
                <div class="clearfix"></div>
        </ul>
</div>