<!--{template template/index/header}-->
<body>
<!-- 头部 -->
<div class="header">
	<div class="hed_lf"><a href="/find"><i class="icon iconfont icon-sanjiao"></i></a></div>
	<div class="hed_ct">新闻公告</div>
</div>
<!-- 头部end -->

<!-- container -->
<div class="container">
	<div class="announ_cement">
		<ul>
			{loop $arr_news['list'] $v}
			<li>
				<a href="/find/news_show/nid-{$v['nid']}">
					{$v['title']}
					<span><!--{eval echo date('Y-m-d H:i:s',$v['in_date'])}--><i class="icon iconfont icon-yousanjiao-copy-copy"></i></span>
					<div class="clearfix"></div>
				</a>
			</li>
			{/loop}
		</ul>
	</div>
</div>
<!-- /container -->


<!-- footer -->
<!--{template template/index/footer_menu}-->
<!-- footer end -->
<!--{template template/index/footer}-->


