<!--{template template/index/header}-->

<body>
<!-- 头部 -->
<div class="header">
	<div class="hed_lf"><a href="#"><i class="icon iconfont icon-sanjiao"></i></a></div>
	<div class="hed_ct">绑定账号</div>
</div>
<!-- 头部end -->

<!-- container -->
<div class="container">
	<div class="perfecting_data">
		<ul>
			<li>
				<label><b>*</b>证件类型</label>
				<select class="w_7" name="">
					<option value="1">身份证</option>
					<option value="2">驾驶证</option>
				</select>
			</li>
			<li>
				<label><b>*</b>证件号码</label>
				<input class="w_7" name="" type="text" />
			</li>
			<li>
				<label><b>*</b>证件姓名</label>
				<input class="w_7" name="" type="text" />
			</li>
			<li>
				<label><b>*</b>区域地址</label>
				<select class="w_3" name="">
					<option value="1">省份</option>
					<option value="2">广东省</option>
				</select>
				<select class="w_3" name="">
					<option value="1">城市</option>
					<option value="2">深圳市</option>
				</select>
				<select class="w_3" name="">
					<option value="1">区/县</option>
					<option value="2">龙华新区</option>
				</select>
			</li>
			<li>
				<label><b>*</b>人脸识别</label>
				<a class="w_7" href="#"><i class="icon iconfont icon-yousanjiao-copy-copy"></i></a>
			</li>
			<li>
				<label><b>*</b>性别</label>
				<select class="w_7" name="">
					<option value="1">男</option>
					<option value="2">女</option>
				</select>
			</li>
			<li>
				<label class="w_4">身材信息(选填)</label>
				<a class="w_6 more" href="javascript:;"><i class="icon iconfont icon-sanjiao-copy-copy"></i></a>
				<div class="figure">
					<ul>
						<li>
							<label>身高</label>
							<input class="w_7" name="" type="text" />
						</li>
						<li>
							<label>三围</label>
							<input class="w_3" name="" type="text" />
							<input class="w_3" name="" type="text" />
							<input class="w_3" name="" type="text" />
						</li>
						<li>
							<label>体重</label>
							<input class="w_7" name="" type="text" />
						</li>
						<li>
							<label>衣服尺码</label>
							<span class="active"><i class="icon iconfont icon-Selected"></i>S</span>
							<span><i class="icon iconfont icon-Selected"></i>M</span>
							<span><i class="icon iconfont icon-Selected"></i>L</span>
							<span><i class="icon iconfont icon-Selected"></i>XL</span>
							<span><i class="icon iconfont icon-Selected"></i>2XL</span>
							<span><i class="icon iconfont icon-Selected"></i>3XL</span>
						</li>
						<li>
							<label>裤子尺码</label>
							<span><i class="icon iconfont icon-Selected"></i>26</span>
							<span class="active"><i class="icon iconfont icon-Selected"></i>27</span>
							<span><i class="icon iconfont icon-Selected"></i>28</span>
							<span><i class="icon iconfont icon-Selected"></i>29</span>
							<span><i class="icon iconfont icon-Selected"></i>30</span>
							<span><i class="icon iconfont icon-Selected"></i>31</span>
						</li>
						<li>
							<label>鞋子尺码</label>
							<span><i class="icon iconfont icon-Selected"></i>S</span>
							<span><i class="icon iconfont icon-Selected"></i>M</span>
							<span class="active"><i class="icon iconfont icon-Selected"></i>L</span>
							<span><i class="icon iconfont icon-Selected"></i>XL</span>
							<span><i class="icon iconfont icon-Selected"></i>2XL</span>
						</li>
						<li>
							<label>是否近视</label>
							<span><i class="icon iconfont icon-Selected"></i>是</span>
							<span><i class="icon iconfont icon-Selected"></i>否</span>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<label>学历</label>
				<select class="w_7" name="">
					<option value="1">本科</option>
					<option value="2">大专</option>
				</select>
			</li>
			<li>
				<label>生育</label>
				<span class="active"><i class="icon iconfont icon-Selected"></i>是</span>
				<span><i class="icon iconfont icon-Selected"></i>否</span>
			</li>
			<li>
				<label>婚姻</label>
				<span><i class="icon iconfont icon-Selected"></i>是</span>
				<span><i class="icon iconfont icon-Selected"></i>否</span>
			</li>
			<li>
				<label>职业</label>
				<input class="w_7" name="" type="text" />
			</li>
			<li>
				<label>月收入</label>
				<select class="w_7" name="">
					<option value="1">5000</option>
					<option value="2">10000</option>
				</select>
			</li>
			<li>
				<label>头像</label>
				<a class="w_7" href="#"><i class="icon iconfont icon-yousanjiao-copy-copy"></i></a>
			</li>
			<li>
				<label>昵称</label>
				<input class="w_7" name="" type="text" />
			</li>
			<li>
				<label>个人介绍</label>
				<textarea class="w_10" placeholder="不可以超过200字" name="" cols="" rows=""></textarea>
			</li>
		</ul>
		<div class="qued"><a href="#">确 定</a></div>
	</div>
</div>
<!-- /container -->


<!-- footer -->

<!-- footer end -->
<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script>
	$(function () {
            var flag = true; 
            $(".more").click(function () {
	
                    var $this = $(this);
                    if(flag) {
                            $(".figure").addClass("item_da");
                            flag = false;
                    }
                    else {
						$(".figure").removeClass("item_da");
                            flag = true;
                    }
            });
		});
</script>

</body>

</html>