<!--{template template/admin/header}-->
<!-- 列表 [[-->
<div class="admin_menu mt12">
        <span class="J_show_hide_menu">
            <a id="J_add_level_one" href="/admin.php?mod=file&mod_dir=file&extra=add" class="blue_nav">{$arr_language['add']}</a>
        </span>
        <span class="J_submit_from"></span>
</div>
<div class="info_wrap main_table mt10">
    <table>
    	<tr>
            <th class="" style="text-align:left; padding-left:10px;">{$arr_language['title']}</th>
            <th class="table_w5">{$arr_language['cat']}</th>
            <th class="table_w5">{$arr_language['date']}</th>
            <th class="table_w5">{$arr_language['admin_member']['do']}</th>
        </tr>
        {if $arr_list['total']>0}
        {loop $arr_list['list'] $v}
        <tr class="white">
            <td style="text-align:left; padding-left:10px;">{$v['title']}</td>
            <td>{$arr_cat[$v['cid_1']]['name']}{if $v['cid_2']>0}>{$arr_cat[$v['cid_2']]['name']}{/if}</td>
            <td><!--{eval echo date("Y-m-d H:i:s",$v['in_date'])}--></td>
            <td class="table_nav">
            	<a href="/admin.php?mod=file&mod_dir=file&extra=add&id={$v['id']}" class="blue_nav admin_nav">{$arr_language['mod']}</a>
                <a href="javascript:;" class="gray_nav admin_nav J_btn_del" onclick="return false;" data-id="{$v['id']}">{$arr_language['del']}</a>
			</td>
        </tr>
        {/loop}
        {else}
        <tr class="white">
            <td colspan="4"><div class="no-data">{$arr_language['nothing']}</div></td>
        </tr>
        {/if}
    </table>
</div>
<!--]] 列表 -->
<!-- page [[-->

<div class="info_wrap mt20">
	<div class="page">{$str_num_of_page}</div>
</div>
<!--]] page -->
<script type="text/javascript" src="/mat/??dist/js/lib/jquery/jquery.min.js,dist/js/language/admin_zh_cn.js,dist/js/modules/common.js,dist/js/admin/admin_file.js?code_version={$_SGLOBAL['code_version']}"></script>
<script type="text/javascript">
var str_formhash = '{$_SGLOBAL['formhash']}';
admin_file._listen_del();
</script>
<!--{template template/admin/footer}-->
